body {
    padding: 5% 7%;
}

.folder-item {
    border: 1px solid black;
    border-radius: 7px;
    margin-right: 10px;

    align-content: center;
    text-align: center;

    font-size: 2em;

    transition: .2s;
}

.folder-item:hover,
.file-item:not(.header):hover {
    cursor: pointer;
    background-color: darkgrey;
    border: 1px solid darkgrey;

    transition: .2s;
}

p.info {
    font-style: italic;
}

.header a {
    font-size: 2em;
    display: block;
    width: fit-content;
}

/*
    Roots styles
 */

.roots-container {
    display: flex;
}

.roots-container .root-item {
    width: 15%;
    height: 200px;
}

/*
    End roots styles
 */


/*
    Folder styles
 */

.folders-container {
    display: flex;
}

.folders-container .folder {
    width: fit-content;
    padding: 10px 30px;
}

.files-container .file-item {
    display: flex;

    padding: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: .2s;
}

.files-container .file-item.header {
    margin-bottom: 10px;
}

.files-container .file-item.header .name,
.files-container .file-item.header .type {
    border-right: 1px solid black;
    margin-right: 10px;
}

.files-container .file-item .name {
    flex: 2;
}

.files-container .file-item .type,
.files-container .file-item .size {
    flex: 1;
}

/*
    End folder styles
 */
